<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="com.yamunacrm.entityBean.Roles"/>
    <mapping class="com.yamunacrm.entityBean.Oppurtunity"/>
    <mapping class="com.yamunacrm.entityBean.Product"/>
    <mapping class="com.yamunacrm.entityBean.Salesstages"/>
    <mapping class="com.yamunacrm.entityBean.Billingdetails"/>
    <mapping class="com.yamunacrm.entityBean.Status"/>
    <mapping class="com.yamunacrm.entityBean.Nextstep"/>
    <mapping class="com.yamunacrm.entityBean.Oppurtunityprice"/>
    <mapping class="com.yamunacrm.entityBean.State"/>
    <mapping class="com.yamunacrm.entityBean.Industry"/>
    <mapping class="com.yamunacrm.entityBean.Contacts"/>
    <mapping class="com.yamunacrm.entityBean.Productitems"/>
    <mapping class="com.yamunacrm.entityBean.Task"/>
    <mapping class="com.yamunacrm.entityBean.Users"/>
    <mapping class="com.yamunacrm.entityBean.Oppurtunityrating"/>
    <mapping class="com.yamunacrm.entityBean.Usertargetmapping"/>
    <mapping class="com.yamunacrm.entityBean.Companyaccount"/>
    <mapping class="com.yamunacrm.entityBean.Opportunitytype"/>
    <mapping class="com.yamunacrm.entityBean.Location"/>
    <mapping class="com.yamunacrm.entityBean.Target"/>
    <mapping class="com.yamunacrm.entityBean.Oppurtunitystatus"/>
    <mapping class="com.yamunacrm.entityBean.Expenses"/>
    <mapping class="com.yamunacrm.entityBean.Territory"/>
    <mapping class="com.yamunacrm.entityBean.Productcode"/>
    <mapping class="com.yamunacrm.entityBean.Appointment"/>
    <mapping class="com.yamunacrm.entityBean.Source"/>
    <mapping class="com.yamunacrm.entityBean.Accountindustrymapping"/>
    <mapping class="com.yamunacrm.entityBean.Userdetails"/>
  </session-factory>
</hibernate-configuration>
